@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Questrial', sans-serif;
  background-color: white;
  color: black;
}

@keyframes blob {
  0%, 100% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-20px) scale(1.2);
  }
}

.animate-blob {
  animation: blob 2s infinite;
}

.animation-delay-1 {
  animation-delay: 0.2s;
}

.animation-delay-2 {
  animation-delay: 0.4s;
}

.animation-delay-3 {
  animation-delay: 0.6s;
}

/* Add more animation delays as needed */
