.input{
    /* Margin top */
    margin-top: 0.25rem;

    /* Display as a block element and full width */
    display: block;
    width: 100%;

    /* Border */
    border: 1px solid #dee2e7; /* Using a gray color as border */
    border-radius: 0.375rem; /* Rounded corners */
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); /* Shadow */
}

.input:focus{
    outline: 2px solid transparent; /* Hide default focus outline */
    outline-offset: 2px; /* Offset for the outline */
    border-color: #2e2f30;
    caret-color: black;
}

/* Button styles */
.button {
    color: rgba(255, 255, 255, 1);
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    background: linear-gradient(90deg, #387ff6, #40a9e6);
    font-weight: 600;
    letter-spacing: 0.025em;
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
}