/* Navbar styles */
.navbar {
  height: 8vh;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #263242;
  position: relative;
}

/* Button styles */
.button {
  color: rgba(255, 255, 255, 1);
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  background: linear-gradient(90deg, #488bff, #48a1d4);
  font-weight: 600;
  letter-spacing: 0.025em;
  display: flex;
  align-items: center;
  width: 160px;
  margin-left: 1rem;
}

/* Logo styles */
.logo {
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1rem;
  margin-top: -5px;
}


/* media queries */
@media (min-width: 768px) {
  .navbar {
    height: auto;
  }

  .button {
    font-size: 0.875rem; /* Adjust button font size for smaller screens if needed */
    margin-right: 0.5rem;
  }

  .navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar li {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .button{
    display: none;
  }
}