/* Button styles */
.button {
    color: rgba(255, 255, 255, 1);
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    background: linear-gradient(90deg, #488bff, #48a1d4);
    font-weight: 600;
    letter-spacing: 0.025em;
    display: flex;
    align-items: center;
    width: 160px;
    margin-left: 1rem;
}

@media (min-width: 768px) {
    .button {
        font-size: 0.875rem; /* Adjust button font size for smaller screens if needed */
        margin-right: 0.5rem;
    }
}